@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-white;
}

@layer base {
  :root {
    --primary: 0 3% 14%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 0 93% 67%;
  }

  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    /* background: rgba(59, 130, 246, 1); */
    background: hsl(var(--primary));
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f5f5eb;
    border-radius: 20px;
    /* border: 3px solid rgba(59, 130, 246, 1); */
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  p {
    @apply text-base;
  }

  .form-group {
    @apply mb-4 flex flex-col;
  }

  .form-group label {
    @apply mb-1 text-sm text-white
  }

  .form-group input,
  select {
    @apply rounded border p-2 leading-tight text-black focus:outline-none focus:ring-2 focus:ring-primary;
  }

  .form-group span {
    @apply mt-1 text-xs italic text-red-500;
  }

  .form-group {
    @apply mb-4 flex flex-col;
  }

  .form-group label {
    @apply mb-1 text-sm text-black;
  }

  .form-group input,
  textarea,
  select {
    @apply rounded border border-[#6e8083] bg-[#455557] p-2 leading-tight focus:outline-none focus:ring-2 focus:ring-primary;
    color: white;
  }

  .form-group input::placeholder,
  textarea::placeholder {
    @apply text-black;
    font-weight: 500;
  }

  .form-group span {
    @apply mt-1 text-xs italic text-red-500;
  }
}
