[Desktop Entry]
Encoding=UTF-8
Name=Link to image.pngPNGOpen file
Type=Link
URL=https://riverplatform.slack.com/files/U05AP2S75K2/F060881PWCC/image.png?origin_team=T059WBSD7D3&origin_channel=D05AC0WQVLH
Icon=text-html
